
    
    .cryptocurrency {
        background: #485c97;
display: flex;
/*align-items: center;*/
justify-content: center;
height: 200px;
height: auto;
/*border-radius: 5px;*/
box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
margin-left: 5px;
margin-right: 5px;
/*flex: 1 1 200px;*/
flex: 1 1 33.33%;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;

transform: translate3d(0, 0, 0);
transition: transform .15s ease;

padding: 1rem;
margin: 0.5rem;
    }

    .cryptocurrency:hover {
        transform: translate3d(0, -4px, 0);
        box-shadow: 0 0 10px 1px rgba(0,0,0,.075);
    }

h3 {
    color: #a1cbff;
    margin-top: 0;
    font-size: 1.125rem;
}

h2 {
    margin-bottom: 0.5rem;
    font-size: 1.375rem;
}

h1 {
    font-size: 2.5rem;
}

h1,
h2 {
    color: #fffbfb;
}

h1,
h2,
h3 {
    font-weight: 400;
}

.green {
    color: #30c49f;
}

.red {
    color: #fd5f8f;
}