
    
    .cryptocurrency {
        background: #44558d;
display: flex;
align-items: left;
justify-content: center;
height: 10rem;
/*height: auto;*/
/*border-radius: 5px;*/
box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
margin-left: 5px;
margin-right: 5px;
flex: 1 1 200px;
/*flex: 1 1 200px;*/
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;

transform: translate3d(0, 0, 0);
transition: transform .15s ease;

padding: 1rem;
margin: 0.5rem;
    }

    .cryptocurrency:hover {
        transform: translate3d(0, -4px, 0);
        box-shadow: 0 0 10px 1px rgba(0,0,0,.075);
    }

h3 {
    margin-top: 0;
    font-size: 1.125rem;
}

h4 {
    color: #a1cbff;
}

.cryptocurrency-name {
    color: #fff;
}

h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

h1 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

h1,
h2 {
    color: #fffbfb;
}

h1,
h2,
h3 {
    font-weight: 400;
}

.green {
    color: #30c49f;
}

.red {
    color: #fd5f8f;
}

i {
    font-size: 3.2rem;

}

.cryptocurrency-name {
    margin-top: 0.5rem
}

.coin {
    align-items: flex-start;
    display: flex;
    text-align: left;
}

.coin-left {
flex-basis: auto;
flex-grow: 0;
flex-shrink: 0;

margin-right: 1rem;
margin-top: 0.5rem;
}

.coin-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    text-align: left;
}

img {
    /*width: 64px;
    height: 64px;*/
}

.cryptocurrency-price {
    display: inline-flex;
    position: relative;
    align-items: center;
}

.green, .red {
    display: inline-block;
margin: 0 1rem;
}
