h1,
h2,
h3 {
  line-height: 1.1;
}

h1,
h2 {
  color: #fffbfb;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

h3.cryptocurrency-name {
  margin-top: 0.5rem;
  color: #fffbfb;
}

a {
  color: #2fa8f2;
}

.cryptocurrency {
  display: flex;
  align-items: left;
  justify-content: center;
  flex: 1 1 225px;
  flex-direction: column;
  padding: 1.125rem;
  background: #36426c;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
  transform: translate3d(0, 0, 0);
  transition: transform .15s ease;
}

.cryptocurrency:hover {
  box-shadow: 0 0 10px 1px rgba(0,0,0,.075);
  transform: translate3d(0, -4px, 0);
}

.coin {
  align-items: flex-start;
  display: flex;
}

.coin-left {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0.5rem 1rem 0 0;
}

.coin-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.percentage-increase,
.percentage-decrease {
  margin-bottom: 0.5rem;
}

.percentage-increase {
  color: #30c49f;
}

.percentage-decrease {
  color: #ff6694;
}

img {
  width: 48px;
  height: 48px;
}

@media (max-width: 570px) {
  img {
    width: 36px;
    height: 36px;
  }
}