body {
  margin: 0 auto;
  max-width: 60rem;
  padding: 1rem 0;
  background: #384875;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.App-header,
footer {
  margin: 0;
  padding: 1rem;
  color: #fff;
}

.App-title {
  color: #fffbfb;
}

footer {
  text-align: center;
}