body {
  margin: 0 auto;
  padding: 1rem 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  max-width: 50rem;
  color: #c6d8ef;
  background: #2a3657;
}

.app-header,
footer {
  margin: 0;
  padding: 1rem;
}

footer {
  text-align: center;
}